@model Todo

<div class="container">
	<h2> Create Todo</h2>
	<div class="row">
	<form method="Post">
	<div class="col-6">
	<label for="name" >Name</label>
	<input asp-for="Name" type="text" id="name" class="form-control" />
	</div>
	<div class="col-6">
	<input type="submit" class="btn btn-primary form-control"/>
	</div>

	</form>
	</div>

	

</div>